
<div id="addNewItem" class="col-md-3 text-center" ng-show="phone.showAddForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" ng-model="phone.currentItem.Name" />
    </div>
    <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" id="brand" ng-model="phone.currentItem.Brand" />
    </div>
    <div class="form-group">
        <label for="release">Release</label>
        <input type="text" class="form-control" id="release" ng-model="phone.currentItem.ReleaseYear" />
    </div>
    <div>
        <button class="btn btn-primary btn-lg" ng-show="!phone.showEditBtn" ng-click="phone.addNewPhone(phone.currentItem); phone.enableAdd();">Add new item</button>
        <button class="btn btn-primary btn-lg" ng-show="phone.showEditBtn" ng-click="phone.editPhone(phone.currentItem)">Edit selected</button>
        <button class="btn btn-danger btn-sm" ng-click="phone.showAddForm = false">Close</button>
    </div>
</div>