<div class="row">
    <div class="col-md-9">

        <ul class="list-unstyled">
            <li class="thumbnail" ng-repeat="item in phone.data | orderBy:phone.sortType:phone.sortReverse | filter: phone.searchName">
                <div>
                    <p>
                        Name: {{item.Name}}
                    </p>
                    <p>
                        Brand: {{item.Brand}}
                    </p>
                    <p>
                        Release: {{item.ReleaseYear}}
                    </p>
                    <p>
                        Description: {{item.Description}}
                    </p>
                    <p>
                        Image: {{item.Image}}
                    </p>
                </div>
                <div class="pull-right" ng-show="view.admin">
                        <span>
                            <button class="btn" ng-click="phone.enableEdit(item)">Edit</button>
                            <button class="btn" ng-click="phone.deletePhone(item)">Delete</button>
                        </span>
                </div>
            </li>
        </ul>
    </div>
    
</div>