<div id="mainMenu" class="affix col-md-3 col-lg-offset-9">
    <!-- Main buttons -->

    <button class="btn" ng-show="view.admin" ng-class="{'btn-warning':!phone.showAddForm, 'btn-success':phone.showAddForm}" ng-click="phone.enableAdd();">Add new item</button>
    <button class="btn" ng-class="{'btn-warning':phone.showAddForm, 'btn-success':!phone.showAddForm}" ng-click="phone.showAddForm = false;">Filter</button>
    
    <!-- Filter menu hide/show -->

    <div ng-hide="phone.showAddForm">
        <hr />
        <p>
            <label for="search">Search Name:</label>
            <input id="search" class="form-control" type="text" placeholder="Input name" ng-model="phone.searchName" />
        </p>
        <p>
            <label for="sortung">Sort by:</label>
            <select id="sortung" class="form-control" ng-model="phone.sortType">
                <option value="Name">Name</option>
                <option value="Brand">Brand</option>
                <option value="ReleaseYear">Year</option>
            </select>
        </p>
    </div>

    <!-- Add/Edit form show/hide -->
    <add-New></add-New>
</div>